{{!-- <body>
  <section class='columns is-centered is-variable is-3'>
    <div class='box'>
      <h1 class='is-size-1 has-text-centered has-text-weight-bold'>Welcome to
        Cooking Crafty!
      </h1>
      <h1 class='is-size-2 has-text-centered'>Here are this week's Featured
        Recipes!
      </h1>
    </div>
  </section>
  <section class='columns is-multiline is-flex is-flex-wrap-wrap'>
{{#each recipes as |recipe|}}
    <div class='column is-half'>
      <img src="{{recipe.image}}" alt="image of {{recipe.name}}">
    </div>
    <div class='column is-half box has-text-centered'>
      <h1 class='is-size-2 has-text-centered'>{{recipe.name}}</h1>
      <a href='{{recipe.description}}'><button class='button is-small is-fullwidth'>Click here to read more!</button></a>
      <button id='{{recipe.id}}' class='button is-small is-fullwidth'>Add to Saved Recipes +</button>
    </div>
{{/each}}
  </section>
</body> --}}

    <div class="container">
      <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title" style="color: black;">Cooking Crafty</h1>
            <h2 class="title" style="color: black;">Here are this week's featured recipes</h2><br>
          </div>
        </div>
        <div class="row columns is-multiline is-centered">
          <div class="column is-half">
            <div class="card large is-horizontal">
              {{#each recipes as |recipe|}}
              <div class="card-image">
                <figure class="image is-16by9">
                  <img src="{{recipe.image}}" alt="{{recipe.name}}">
                </figure>
              </div>
              <div class="card-content">
                <div class="content">
                        <h1 class='is-size-3 has-text-centered'>{{recipe.name}}</h1>
                        <a href='{{recipe.description}}'><button class='button is-small is-fullwidth'>Click here to read more!</button></a>
                        <button data-id='{{recipe.id}}' class='button is-small is-fullwidth saverecipe'>Add to Saved Recipes +</button><br>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/save.js"></script>